

// fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:wght@400);
$font-family: 'Roboto Slab', serif;
$font-scalar: 1.5em;


// colors
$primary: #242938;
$secondary: #8798a6;
$highlight: #a7eefe;
$background: #fff;


// Reset
*{
	margin: 0;
	padding: 0;
	border: 0;
	font: 100% $font-family;
	vertical-align: baseline;
	line-height: $font-scalar;
}

html{
	color:$primary;
	background-color: $background;

	h1{
		font-size: $font-scalar * 2;
		font-weight: 400;
	
		span{
			background-color: $highlight;
			padding:0 5px;
			font-weight: 400;
		}
	}
	
	h2{
		font-size: $font-scalar * 1.5;
		line-height: 1.2em;
		padding-bottom: 10px;
	}
	
	h3{
		color:$primary;
		background-color: $highlight;
		font-weight: bold;
		letter-spacing: 0.1em;
		display: inline;
	}
	
	p{
		font-size: $font-scalar * 0.75;
	}
}


#app{
	width: 700px;
	margin:30px auto;
	padding:15px;

	#deer{
		text-align: center;
		padding:50px 0;
		img{
			width: 50%;
			height: auto;
		}
	}

	#projects{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding:65px 0 15px;
		.project{
			width:45%;
			padding:10px;
			margin-bottom:20px; 
			border-top:2px solid $highlight;

			a{
				color:$primary;
				&:hover{
					color:$secondary;
				}
			}
		}
	}

	#closing{
		padding-bottom: 45px;
	}

	#contact{
		background-color: $highlight;
		padding:25px;
		a{
			display: block;
			margin:3px 0;
			color: $primary;

			&:hover{
				color:$secondary;
			}
		}
	}
}